
.icon-star:before { content: '\e808'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-quote-left:before { content: '\e802'; } /* '' */
.icon-quote-right:before { content: '\e803'; } /* '' */
.icon-print:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-beaker:before { content: '\e814'; } /* '' */
.icon-bitbucket:before { content: '\e809'; } /* '' */
.icon-dribbble:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e80c'; } /* '' */
.icon-instagramm:before { content: '\e810'; } /* '' */
.icon-star-empty:before { content: '\e830'; } /* '' */
.icon-pinterest:before { content: '\e811'; } /* '' */
.icon-skype:before { content: '\e80d'; } /* '' */
.icon-stackoverflow:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-vimeo:before { content: '\e813'; } /* '' */
.icon-flashlight:before { content: '\e827'; } /* '' */
.icon-vcard:before { content: '\e80e'; } /* '' */
.icon-docs:before { content: '\e816'; } /* '' */
.icon-book:before { content: '\e822'; } /* '' */
.icon-mail:before { content: '\e829'; } /* '' */
.icon-college:before { content: '\e82a'; } /* '' */
.icon-buffer:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80f'; } /* '' */